@import './variables.scss';

.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  max-width: 580px;
  width: 100%;
  padding-top: 80px;

  &__selection {
    display: none;
  }

  &__item {
    cursor: pointer;
    color: #391400;
    transition: 0.3s;

    .active {
      color: $filterActive;
    }

    &:hover {
      color: $filterActive;
    }
  }

  @media screen and (max-width: 1040px) {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    &__item {
      display: none;
    }

    &__selection {
      padding: 10px 20px;
      display: block;
      position: relative;
      padding: 5px;
      border: 1px solid #F3D1BF;
      border-radius: 5px;
      background: #fff;
      width: 329px;
      height: 45px;
      color: #391400
      
    }
  }
}

.active {
  color: $filterActive;
  text-shadow: 0 0 15px $filterActive;
}